[Desktop Entry]
Version=1.0
Type=Link
Name=FloresPatwil/PS-laboratorio-7.5
Comment=
Icon=user-bookmarks
URL=https://github.com/FloresPatwil/PS-laboratorio-7.5
